body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
    color: rgb(224, 224, 224);
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(13, 77, 13);
    color: rgb(255, 255, 255);
    padding: 2em 0;
}

section {
    margin: 2.5em auto;
    width: 85%;
    max-width: 800px;
    background: rgb(0, 0, 0);
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: background 0.3s ease, transform 0.3s ease;
}

section:hover {
    transform: scale(1.1);
    background-color: rgb(153, 50, 204); 
}

footer {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);     
    padding: 1em 0;
    margin-top: 2em;
}

h1 {
    transition: transform 0.3s, color 0.3s;
}

h1:hover {
    transform: scale(1.1);
    color: rgb(255, 20, 147); 
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgb(51, 51, 51);
    margin: 8px auto;
    padding: 10px;
    border-radius: 6px;
    width: 60%;
    transition: background 0.3s ease;
}

ul li:hover {
    background: rgb(97, 57, 177);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 1em;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 0 auto;
}

button {
    padding: 12px;
    background-color: rgb(13, 77, 13); 
    color: rgb(255, 255, 255);          
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(20, 102, 20); 
}
