body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,rgb(26, 26, 26), rgb(83, 226, 114));
    color: rgb(224, 224, 224);
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(13, 77, 13);
    color: rgb(255, 255, 255);
    padding: 2em 0;
}
h1 span{
    font-size: xx-large;
    color: white;
}
img{
    border-radius: 50%;
    border: 3px solid 2px;
    height: 150px;
    transition: transform 0.3s;
}
img:hover{
    transform: scale(1.1);
}
section {
    margin: 2.5em auto;
    width: 85%;
    max-width: 800px;
    background: rgb(0, 0, 0);
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(86, 165, 161);
    transition: background 0.3s ease, transform 0.3s ease;
}
a{
    text-decoration: none;
    color: ghostwhite;
    transition: transform 0.3s ease color 0.3s;
}
a:hover{
    color:rgb(0, 190, 63);
}


section:hover {
    transform: scale(1.1);
    background-color: rgb(153, 50, 204); 
}

footer {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);     
    padding: 1em 0;
    margin-top: 2em;
}
h1,h2,h3{
    text-align: center;
    color: rgb(67, 141, 6);
}
h1 {
    transition: transform 0.3s, color 0.3s;
}

h1:hover {
    transform: scale(1.1);
    color: rgb(255, 20, 147); 
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgb(51, 51, 51);
    margin: 8px auto;
    padding: 10px;
    border-radius: 6px;
    width: 60%;
    transition: background 0.3s ease;
}

ul li:hover {
    background: rgb(19, 112, 0);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 1em;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 0 auto;
}

button {
    padding: 12px;
    background-color: rgb(13, 77, 13); 
    color: rgb(255, 255, 255);          
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(20, 102, 20); 
}
#proyectos article{
    background: rgb(54, 54, 54);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
#proyectos article:hover{
    transform: scale(1.05);
}
